.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
_site/
proposal_files/
.DS_Store
CONTEXT.html

// Ignore _yaml and scripts and index.qmd. Not necessary for this project
_quarto.yml
scripts/
index.qmd
/.quarto/
**/*.quarto_ipynb
